button-1 {
  text-align: center;
  color:rgb(25, 182, 143)
}


h1 {
    text-align: center;
    color:rgb(25, 182, 143)
  }

  h2 {
    text-align: center;
    color:rgb(25, 182, 143)
  } 

h3 {
  text-align: left;
  color:rgb(25, 182, 143);
  padding-left: 10px
} 

section-1 {
    text-align: center;
  }  
  